dist: xenial
language: python
python:
- '3.6'
- '3.7'
install:
- python setup.py install
script:
- python setup.py test
deploy:
  provider: pypi
  user: plusvic
  skip_existing: true
  password:
    secure: Uj1gs8JPPDdkju65O6D4S+LQmPCd7SAwY69YEN2w+mMdx3WH95DdpHMxhjFqg4LKFCJStueJ1YXHYnF2quMniXPuYCHIJiPQemL2mmOMQOLB/cc1E6AYbWjQE20ZFafr6IHxN5IVlo4Fn2GUemh7CmQor+oY/cqdEuhp0e1/ZF4fTla3SpivCAAObuBUYV5kNbCxhZiFRXuhL4OQ3XcnjUkzem2gqmXFf2KlHTGkULD2JxLu/EcvBR4QuqnhulORSUFmbRY9882hLWn9T+3vXR/oEIVcwSD5+sjyjBZjtD/ifaOrG6ym2dAPSJYyQSZ1wsihfBNvjdkJjnbzckoctzAanBiWRvZmRb8d9P1vP5QIofN7/N6+Q5v96IK91qQ3+/qBA+1baWF0ooSxkm7btVGq8FS/IcZcnfkPvQIqYmyv9geZKs9IbgKFedm22m0oU4ttJDng2HrUa6imUVUaRO6jHNygA7FFedWm/hDpn4qc7l/vD+O0s6FQ2OkLU+Iw9kw9folMrVeUFvL7ZC0Momc6Yy3qV+sypm3AdVXaDmVGtH5MqFAWPW36NYblra8p9gKbBCsSni2uZIM10Ox9ROrxjUu5eElik8JU3yxlcyfv/QjEZG4nrIcgzAh/uDXqQ8rO/DYvItTyVgzOSkoqfXI2BrDtNuq8ibQ8bJ6Moso=
  on:
    tags: true
